<!-- Template for post archive in blog -->
<!-- The format of a blog post that is inserted into the default page -->

{% extends 'blog/base.html' %}

{% block content %}
	<!-- post_dic is a dictionary of years as keys, containing dictionaries of months, containing lists of posts in those months-->
	<div class="post-div">
		<h2>Post Archive:</h2>
	</div>

	{% for year, months in post_dic.items %}

		<div class="post-div">

			{% for month, posts in months.items %}
				<h3>{{year}} / {{month}}:</h3>
				{% for post in posts %}
					<p><a href="{% url 'post_detail' pk=post.pk %}">{{post}}</a></p>
				{% endfor %}

			{% endfor %}
			
		</div>

	{% endfor %}
{% endblock %}