<!-- Base template for blog -->
<!-- The default page layout, allow blog posts to be inserted i -->

<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<title>Django George Blog</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body>

	<div class="title-div">
		<h1><a href="/">George's Blog</a></h1>
		<span class="top-rt">
			<a href="archive">Archive /</a>
			<a href="#top-pos">Top</a>
			<!-- only a logged in user can add posts -->
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="new-post"><img src="{% static 'images/plusicon.png' %}"></a>
			{% endif %}
		</span>
	</div>

	<div class="pad"><a class="int-link" id="top-pos"></a></div>

	{% block content %}
	{% endblock %}

</body>

</html>